@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

*[class^=material-icons] {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Raleway', sans-serif;
}

header {
  min-height: 100vh;
  background-color: #f9f8fb;
  padding: 50px 0 50px 0;
  background-image: url(/css/img/img.png);
  background-repeat: no-repeat;
  background-size: auto calc(100%);
  background-position: center top;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  opacity: 0.9;
}

@media screen and (min-width: 640px) {
  .header::after {
    opacity: 0;
  }
}

.nav {
  display: none;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  background-color: #f9f8fb3d;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 3;
}

.section_head {
  position: relative;
  z-index: 2;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 640px) {
  .section_head {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 50%;
  }
}

@media screen and (min-width: 900px) {
  .section_head {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 40%;
  }
}

.nav_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_button {
  background-color: transparent;
  border: 0;
}

@media (min-width: 640px) {
  .butto_wrapper {
    display: none;
  }
}

.container {
  padding: 0 5px;
  width: 1170px;
  max-width: 100%;
  margin: auto;
}

.scroll_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.scroll_icon {
  width: 24px;
  height: 40px;
}

.about_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 640px) {
  .about_container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 640px) {
  .about_col_1 {
    width: 50%;
  }
}

@media screen and (min-width: 640px) {
  .about_col_2 {
    width: 50%;
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about_img {
  margin-left: -10px;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 640px) {
  .about_img {
    margin-left: -20px;
  }
}

@media (min-width: 1300px) {
  .container_center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 1240px;
  }
}

.section_about_us {
  background-color: #00b1b1;
  padding: 30px 0;
}

.section_about_us .info {
  color: #fff;
}

@media (min-width: 640px) {
  .section_about_us {
    padding: 60px 0;
  }
}

.service_box {
  max-width: 400px;
  width: 66%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  margin-bottom: 20px;
  -webkit-box-shadow: 3px 4px 8px #45769e, -3px 4px 8px #45769e;
          box-shadow: 3px 4px 8px #45769e, -3px 4px 8px #45769e;
}

.service_box:last-child {
  margin-bottom: 0;
}

.box_text {
  width: 75%;
  text-align: center;
  font-size: 20px;
}

.box_icon {
  display: block;
  width: 35%;
  height: 100%;
  margin: 0 auto;
  border-left: 1px solid #9d9d9d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 10px;
}

h2 {
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}

@media screen and (min-width: 800px) {
  h2 {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1040px) {
  h2 {
    text-align: left;
    font-size: 70px;
  }
}

h4 {
  font-size: 50px;
  font-family: 'Pacifico', cursive;
  font-weight: 300;
}

.nav_list {
  display: none;
  list-style: none;
}

@media (min-width: 640px) {
  .nav_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav_list li:not(:last-of-type) {
  margin-right: 5px;
}

.nav_list a {
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: #000;
  padding: 8px 1px 0 1px;
  letter-spacing: 1px;
  outline-style: none;
  border-top: 3px solid #f9f8fb00;
  -webkit-transition: border-top 0.5s;
  transition: border-top 0.5s;
}

.nav_list a:hover,
.nav_list a:target {
  border-top: 3px solid #ff6033;
}

.info {
  color: #000;
  font-size: 17px;
  font-weight: 100;
  margin-bottom: 15px;
  text-align: center;
}

@media screen and (min-width: 640px) {
  .info {
    text-align: left;
  }
}

.button_head {
  width: 150px;
  background-color: #ff6033;
  text-align: center;
  -webkit-box-shadow: 2px 4px 5px #9a9a9c, -2px 3px 5px #9a9a9c;
          box-shadow: 2px 4px 5px #9a9a9c, -2px 3px 5px #9a9a9c;
  padding: 10px 0;
  cursor: pointer;
  font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
}

@media screen and (min-width: 640px) {
  .button_head {
    padding: 16px 0;
    width: 200px;
    font-size: 20px;
  }
}

.button_head:hover,
.button_head:focus {
  background-color: #fe7853;
}

.grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 275px 275px 200px 200px;
      grid-template-rows: 275px 275px 200px 200px;
  grid-gap: 20px;
}

.grid_box img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.box_1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.box_2 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.box_3 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.box_4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
}

.box_5 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4/7;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
}
/*# sourceMappingURL=style.css.map */